body {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
  }
  .music {
    width: 25%;
    height: 500px;
    background-color: navy;
    color:white;
  }
  .music-title {
    padding-left: 150px;
  }
  h4 {
    padding-left: 100px;
  }
  .music-image {
    width: 90%;
    height: 350px;
    background-color: azure;
    margin: 30px;
  }
  .music-image img {
    width: 100%;
  }
  .music-time {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }
  .music-control {
    display: flex;
    justify-content: space-around;
  }
  